@* @page "/shoplistpage" tekee tästä komponentista navigoitavan sivun.
@using ShoplistMauiBlazorHybrid.Models tuo mukaan Shoplist-luokan.
@inject HttpClient Http antaa käyttöön Http-olion, jolla voidaan tehdä API-kutsuja. *@

@page "/shoplistpage" 
@using ShoplistMauiBlazorHybrid.Models
@inject HttpClient Http

@* <p>@infoText</p> *@
<h3>Tuotteet ostoslistalla</h3>

@if (shoplist == null)
{
    <p>Ladataan tuotteita...</p>
}
else if (!shoplist.Any())
{
    <p>Ei tuotteita listalla.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tuote</th>
                <th>Määrä</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in shoplist)
            {
                <tr>
                    <td>@item.Item</td>
                    <td>@item.Amount</td>
                    <td>
                        <button class="btn-primary" @onclick="() => DeleteItem(item.Id)">Poista</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}

@if (!string.IsNullOrEmpty(infoText))
{
    <div class="notification">@infoText</div>
}

@code {
    private List<Shoplist>? shoplist;
    private string infoText = "";
    protected override async Task OnInitializedAsync()
    {
        shoplist = await Http.GetFromJsonAsync<List<Shoplist>>("https://shoppingbackend-e2ckgsb5gsfjafak.swedencentral-01.azurewebsites.net/api/shoplist/");
    }

    private async Task DeleteItem(int id)
    {
        var response = await Http.DeleteAsync($"https://shoppingbackend-e2ckgsb5gsfjafak.swedencentral-01.azurewebsites.net/api/shoplist/{id}");

        if (response.IsSuccessStatusCode)
        {
            // Päivitetään lista
             infoText = "Tuote poistettu onnistuneesti!";
             StateHasChanged(); // näkymä päivittyy ennen kuin tyhjennetään
             shoplist = await Http.GetFromJsonAsync<List<Shoplist>>("https://shoppingbackend-e2ckgsb5gsfjafak.swedencentral-01.azurewebsites.net/api/shoplist/");
             await Task.Delay(3000);
             infoText = "";
             StateHasChanged(); // päivitys nollauksen jälkeen
            
        }
        else
        {
            infoText = "Poisto epäonnistui!";
            StateHasChanged(); // näkymä päivittyy ennen kuin tyhjennetään
            await Task.Delay(3000);
            infoText = "";
            StateHasChanged(); // päivitys nollauksen jälkeen
        }
    }

}
